@font-face {
    font-family: 'Moon';
    src: url('../../assets/fonts/Moon2.0-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Moon';
    src: url('../../assets/fonts/Moon2.0-Light.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Moon';
    src: url('../../assets/fonts/Moon2.0-Bold.ttf');
    font-weight: 700;
} 