@font-face {
  font-family: "Moon";
  src: url("../../assets/fonts/Moon2.0-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Moon";
  src: url("../../assets/fonts/Moon2.0-Light.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Moon";
  src: url("../../assets/fonts/Moon2.0-Bold.ttf");
  font-weight: 700;
}
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #FEF1E6;
  font-family: "Moon";
  font-weight: normal;
}

.nav {
  display: flex;
  padding: 1rem;
  justify-content: center;
  background-color: #FFB085;
}

img {
  height: 3.125rem;
  width: 3.125rem;
}

.main {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  margin: 5rem auto;
  border: solid 15px #FFB085;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 2px 6px 14px brown;
}

.options {
  background-color: #FEF1E6;
  border: 7px solid #F9D5A7;
  font-family: Moon;
  margin-bottom: 1rem;
  padding: 0.2rem 2.6rem;
  border-radius: 2rem;
  box-shadow: 1px 2px 5px brown;
  font-size: 1.1rem;
}

label {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}

button {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  background-color: #FEF1E6;
  border: 3px solid #FFB085;
  border-radius: 2rem;
  box-shadow: 1px 2px 5px brown;
}

.return-card {
  border: solid;
  position: absolute;
  top: 5rem;
  right: 31.5rem;
  width: 15rem;
  height: 19rem;
  border: solid 15px #FFB085;
  border-radius: 2rem;
  display: none;
}